/* Filtros de Marcas */

.filtros{
text-align:center;
margin:30px 0;
}

.filtros button{
background:#A67C42;
color:white;
border:none;
padding:10px 20px;
margin:5px;
border-radius:6px;
cursor:pointer;
font-weight:bold;
}

.filtros button:hover{
background:#8a642f;
}