body{
margin:0;
padding:0;
}

.titulo-seccion{
text-align:center;
color:white;
font-size:40px;
margin:30px 0;
width:100%;
}

.categorias{
    text-align:center;
    margin:10px 0;
}

.contenedor-productos{
width:80%;
margin:0 auto;
display:grid;
grid-template-columns:repeat(4,1fr);
gap:40px;
justify-items:center;
}

.producto{
    background:#031926;
    width:220px;
    text-align:center;
    padding:15px;
    border-radius:10px;
    color:white;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.titulo-productos{
    text-align:center;
    color:white;
    margin:60px 0 30px 0;
    font-family:Impact;
    text-shadow:2px 2px 4px black;
}

.producto:hover{
transform: translateY(-8px) scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,0.3);
transition:0.3s;
}

.producto img{
width:100%;
height:220px;
object-fit:cover;
}


/* Filtros de Marcas */

.filtros{
text-align:center;
margin:30px 0;
}

.filtros button{
background:#A67C42;
color:white;
border:none;
padding:10px 20px;
margin:5px;
border-radius:6px;
cursor:pointer;
font-weight:bold;
}

.filtros button:hover{
background:#8a642f;
}